# Rule for when switching to battery
ACTION=="change",SUBSYSTEM=="power_supply",ATTRS{type}=="Mains",ATTRS{online}=="0",RUN+="/usr/bin/powertop --auto-tune"

# Rule for when switching to powersupply
ACTION=="change",SUBSYSTEM=="power_supply",ATTRS{type}=="Mains",ATTRS{online}=="1",RUN+="/usr/bin/powertop --auto-tune"
