[Unit]
Description=Auto-update Appman binary
After=local-fs.target
After=network-online.target
ConditionFileIsExecutable=%h/.local/bin/appman

[Service]
Type=oneshot
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin
ExecStart=/usr/bin/bash -c "appman -u"