[Unit]
Description=Docker Rootless Setup Check
Before=docker.service
ConditionPathExists=/usr/bin/dockerd-rootless-setuptool.sh

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c '\
  if [ ! -f "%C/docker-rootless-setup-done" ]; then \
    dockerd-rootless-setuptool.sh install --force && \
    touch "%C/docker-rootless-setup-done" && \
    systemctl --user disable docker-rootless-setup.service; \
  fi'
RemainAfterExit=yes

[Install]
WantedBy=default.target
