[Unit]
Description=Docker Rootless Setup Check
Before=docker.service
ConditionPathExists=/usr/bin/dockerd-rootless-setuptool.sh

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'if ! systemctl --user is-active docker.service &>/dev/null && ! [ -S "$XDG_RUNTIME_DIR/docker.sock" ]; then dockerd-rootless-setuptool.sh install --force; fi'
RemainAfterExit=yes

[Install]
WantedBy=default.target
