[Unit]
Description=Auto-update Appman binary
After=local-fs.target
After=network-online.target
ConditionPathExists=%h/.local/bin/appman

[Service]
Type=oneshot
Environment=APPSPATH=%h/Applications
ExecStart=%h/.local/bin/appman -u