[Unit]
Description=Auto-update Appman binary
After=local-fs.target
After=network-online.target
ConditionPathExists=%h/.local/bin/appman

[Service]
Type=oneshot
Environment="PATH=%h/.local/bin/:$PATH"
ExecStart=%h/.local/bin/appman -u