[Unit]
Description=Clear Fontconfig Cache

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'rm -rf ~/.cache/fontconfig && fc-cache -r'

[Install]
WantedBy=default.target
