[Unit]
Description=Mount Fontconfig Cache
ConditionPathExists=/usr/lib/fontconfig/cache

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p %C/fontconfig
ExecStartPre=/usr/bin/mkdir -p %h/.fontconfig
ExecStart=/usr/bin/mount --bind -o ro /usr/lib/fontconfig/cache %C/fontconfig
ExecStart=/usr/bin/mount --bind -o ro /usr/lib/fontconfig/cache %h/.fontconfig
# Clean-up after ourselves
ExecStop=/usr/bin/umount %C/fontconfig
ExecStop=/usr/bin/umount %h/.fontconfig
RemainAfterExit=yes

[Install]
WantedBy=default.target