[Unit]
Description=Git garbage collection
After=local-fs.target

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=/usr/bin/zsh --interactive -c 'find %h -name "*.git" -execdir sh -c "cd {} && git gc" \;'