[Unit]
Description=Timer for updating Git garbage collection

[Timer]
OnCalendar=weekly
AccuracySec=1h
RandomizedDelaySec=2d
Persistent=true

[Install]
WantedBy=timers.target