[Unit]
Description=Git garbage collection
After=local-fs.target

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=/usr/bin/zsh --login -c "source %h/.zshrc; find ~ -name '*.git' -execdir sh -c 'cd {} && git gc' \;"