[Unit]
Description=Workaround fs.inotify.max_user_watches isn't applied

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w fs.inotify.max_user_watches=524288
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target