[Unit]
Description=Mount /usr/lib/fontconfig/cache to /var/home/nhubao/.cache/fontconfig

[Mount]
What=/usr/lib/fontconfig/cache
Where=/var/home/nhubao/.cache/fontconfig
Type=none
Options=bind,ro

[Install]
WantedBy=multi-user.target
