[Unit]
Description=Set up swap on first boot
ConditionVirtualization=no
ConditionPathExists=!/var/swap/swapfile

[Service]
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
ExecStart=/bin/bash -c '/usr/libexec/setup-swap.sh $(awk "/MemTotal/ { print int(\$2 / 1024 / 1024) }" /proc/meminfo)'

[Install]
WantedBy=multi-user.target