// Allows ordinary users to change battery thresholds without asking for a password

polkit.addRule(function(action, subject) {
    const regex = /^(\/usr\/bin\/sh -c )echo \b(100|[0-9]|[1-9][0-9])\b > \/sys\/class\/power_supply\/BAT[0-1]\/(charge_control_end_threshold|charge_control_start_threshold|charge_start_threshold|charge_stop_threshold)( && echo \b(100|[0-9]|[1-9][0-9])\b > \/sys\/class\/power_supply\/BAT[0-1]\/(charge_control_end_threshold|charge_control_start_threshold|charge_start_threshold|charge_stop_threshold))?$/;
    if (action.id == "org.freedesktop.policykit.exec" && action.lookup("command_line").search(regex) !== -1) {
        return polkit.Result.YES;
    }
});
