name: Build ISO

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  ARCH: x86_64
  IMAGE_NAME: nhubaotruong-ublue
  IMAGE_REPO: ghcr.io/nhubaotruong
  IMAGE_TAG: latest
  VERSION: 43
  VARIANT: Silverblue

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Maximize build space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Build ISO
        uses: jasonn3/build-container-installer@main
        id: build
        with:
          arch: ${{ env.ARCH }}
          image_name: ${{ env.IMAGE_NAME }}
          image_repo: ${{ env.IMAGE_REPO }}
          image_tag: ${{ env.IMAGE_TAG }}
          version: ${{ env.VERSION }}
          variant: ${{ env.VARIANT }}
          iso_name: ${{ env.IMAGE_NAME }}-${{ env.IMAGE_TAG }}-${{ env.VERSION }}.iso

      - name: Upload ISO as artifact
        id: upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.iso_name }}
          path: |
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}
            ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM
          if-no-files-found: error
          retention-days: 0
          compression-level: 9

      - name: Create Release
        uses: ading2210/gh-large-releases@v1
        with:
          make_latest: true
          files: ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}

      # - name: Create Release and Upload ISO
      #   uses: ncipollo/release-action@v1
      #   with:
      #     tag: ${{ env.IMAGE_TAG }}-${{ env.VERSION }}
      #     name: "Release ${{ env.IMAGE_TAG }}-${{ env.VERSION }}"
      #     artifacts: |
      #       ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}
      #       ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     body: "Automated release of Universal Blue ISO for ${{ env.IMAGE_NAME }}-${{ env.IMAGE_TAG }}-${{ env.VERSION }}"
